html {
    background-color: #262626;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 20pt;
    text-align: center;
    background: -webkit-linear-gradient(#e1e1e1, #555, #e1e1e1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.red {
    background: -webkit-linear-gradient(#ff7d55, rgb(153, 31, 0), hsl(12, 57%, 25%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.green {
    background: -webkit-linear-gradient(#8bff55, rgb(56, 153, 0),rgb(66, 100, 27));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blue {
    background: -webkit-linear-gradient(#5582ff, rgb(0, 41, 153),rgb(27, 50, 100));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#wrap {
    margin-top: 50px;
}

#main {
    position: relative;
    width: 400px;
    height: 400px;
}

canvas { position: absolute; }

#drawingArea {
    z-index: 2;
}

#drawingGrid {
    z-index: 1; 
}

#menu .buttons {
    position: absolute;
    padding: 20px;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.center {
    margin: auto;
    width: 50%;
}